@import "tailwindcss";

/* Toast Notifications */

.Toastify__toast-container {
  width: auto !important;
  max-width: 360px !important;
}

/* Mobile Toast */

@media (max-width: 640px) {
  .Toastify__toast-container {
    width: calc(100% - 20px) !important;
    max-width: 340px !important;
    left: auto !important;
    right: 10px !important;
    bottom: 10px !important;
  }

  .Toastify__toast {
    width: 100% !important;
    margin-bottom: 8px !important;
    border-radius: 10px !important;
    font-size: 12px !important;
  }
}